:root {
    --white: white;
    --black: black;
}



* {
    font-family: 'Montserrat', sans-serif;
}



body {
    margin: 0;
}



.bg-dark {
    background-color: rgb(186, 188, 194);
    min-height: calc(100vh - 30px);
    margin: 0;
}



.btn-ghost.round {
    border-radius: 30px;
    position: relative;
    display: inline-block;
    border: 2px solid var(--white);
    padding: 10px 10px;
    color: var(--black);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--white);
    transition: color 0.5s, 0.5s;
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 10px;
    min-width: 30px;
    text-align: center;
}



.btn-ghost.secundary {
    background-color: transparent;
    color: var(--black);
    position: relative;
    display: inline-block;
    border: 2px solid var(--white);
    padding: 10px 20px;
    color: var(--black);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent);
    transition: color 0.5s, 0.5s;
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}



.btn-ghost:hover {
    color: var(--white);
    background-color: transparent;
}



.btn-ghost.secundary:hover {
    color: var(--black);
    background-color: var(--white);
}



.col-2 {
    border-color: white;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    margin-left: 2%;
    padding: 0% 0% 0% 0%;
}
/*Pagina tickets generados*/
.col-121 {
    background-color: transparent;
    color: var(--black);
    position: relative;
    display: inline-block;
    border: 1px solid var(--white);
    padding: 08px 05px 08px 05px;
    color: var(--black);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent);
    transition: color 0.5s, 0.5s;
    margin: 1px;
    font-size: 11px;
    font-weight: 600;
    min-width: 151px;
    text-align: center;
}

    .col-121:hover {
        color: var(--black);
        background-color: #424C52;
    }

.btn-buscarTickets {
    border-radius: 30px;
    position: relative;
    display: inline-block;
    border: 2px solid var(--white);
    padding: 08px 05px 08px 05px;
    color: var(--black);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--white);
    transition: color 0.5s, 0.5s;
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 11px;
    min-width: 130px;
    text-align: center;
}

    .btn-buscarTickets:hover {
        color: var(--white);
        background-color: transparent;
    }
